@page "{facultyid:int?}"
@model NewLab1.Pages.OfficeHourSch.FacultyAccountModel
@{
}
<h1>Faculty Account Information</h1>

Profile Picture:
<div style="max-width: 300px;">
    <img src="/Images/@Model.EditView.Image" style="max-width: 100%;" />
</div>

<br />
<br />
<br />
<br />


<form asp-page-handler="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.EditView.FacultyID" />

    <label asp-for="@Model.EditView.FirstName"></label>
    <input type="text" asp-for="@Model.EditView.FirstName" />
    <br /><br />
    <label asp-for="@Model.EditView.LastName"></label>
    <input type="text" asp-for="@Model.EditView.LastName" />
    <br /><br />
    <label asp-for="@Model.EditView.FacultyEmail"></label>
    <input type="text" asp-for="@Model.EditView.FacultyEmail" />
    <br /><br />
    <label asp-for="@Model.Picture">Upload Picture:</label>
    <input type="file" name="Picture" />
    <br /><br />

    <input type="submit" class="btn btn-success" value="Save" />
</form>
