@page 
@model NewLab1.Pages.OfficeHourSch.OfficeHourPageModel
@{
   
    //testing the user is logged in to see the pages
      
    <a id="myLink" href="http://localhost:5183/OfficeHourSch/studentaccount" style="display:none;"></a>
<button type="button" class="btn btn-primary position-relative" onclick="document.getElementById('myLink').click()">
    Account
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
    </span>
</button>

    <br />
    <br />
    <br />
    
    
    @if (HttpContext.Session.GetString("username") != null)
    {


               @*Table for displaying office hours*@



        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    
                    <th>Office Number:</th>
                    <th>Date: </th>
                    <th>Time: </th> 
                    <th>Student Name:</th>
                </tr>
            </thead>
            <tbody>
                @{


                    //foreach loop to get data from sql database
                    foreach (var officeHours in Model.Hours)
                    {
                        <tr>
                            <td class="text-danger">@officeHours.OfficeNumber</td>   
                            <td>@officeHours.Date</td>
                            <td>@officeHours.Time</td>              
                            <td>@officeHours.StudentName</td>
                            <td>
                                <a asp-page="JoinStudents" class="btn btn-primary" asp-route-officehourID="@officeHours.OfficeHourID">Join</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <form method="post">
            <button type="submit" asp-page-handler="StudentQueue">Go to Student Queue</button>
        </form>
        
        }

    <br />

    <p>Phillip Ruta, Anuj Passan, Arden Barrett</p>

    }

